body {

    background-color: rgb(0, 0, 0, 0.6);
    background-image: url(sekil/sekil1.png);
    background-repeat: no-repeat;
    background-size: 100%;
    color: #fff;
    background-blend-mode: darken;
    min-height: 100vh;
    margin: 0;
    /* background-color: #1a1a1a; */
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.underline-nav {
    display: flex;
    gap: 20px;
    padding-left: 50px;
}

.underline-nav a {
    position: relative;
    color: #eee;
    text-decoration: none;
    font-size: 18px;
    padding: 10px;
    transition: .5s;

}

.underline-nav a:hover {
    color: #34e7e4;
}

.underline-nav a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 3px;
    background-color: #34e7e4;
    transition: width 0.3 ease;
}

.underline-nav a:hover::after {
    width: 100%;
}

a {
    text-decoration: none;
    color: black;
    font-size: 30px;
    padding: 18px;
    margin-left: 70px;

}

#logo {
    display: flex;
    margin-top: 20px;
    margin-left: 20px;
}

.logo {
    text-shadow: 10px 10px 10px;
    font-size: 30px;
    font-weight: 100px;
    margin-top: 20px;
    margin-left: 10px;

}

.sekil {
    width: 80px;
    height: 80px;
    background: url(sekil/icon.png)center/cover;
    border-radius: 50%;
}

div {
    display: inline-block;
}

.container {
    height: 40px;
    width: 20%;
    border: 1px solid skyblue;
    margin-left: 999px;
    border-radius: 39px;

}

input {
    font-size: 15px;
    padding-top: 20px;
    padding-left: 30px;
    border: none;
    cursor: pointer;
}

