body {

    background-color: rgb(0, 0, 0, 0.6);
    background-image: url(sekil/sekil1.png);
    background-repeat: no-repeat;
    background-size: 100%;
    color: #fff;
    background-blend-mode: darken;
    min-height: 100vh;
    margin: 0;
    /* background-color: #1a1a1a; */
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.underline-nav {
    display: flex;
    gap: 20px;
    padding-left: 50px;
}

.underline-nav a {
    position: relative;
    color: #eee;
    text-decoration: none;
    font-size: 18px;
    padding: 10px;
    transition: .5s;

}

.underline-nav a:hover {
    color: #34e7e4;
}

.underline-nav a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 3px;
    background-color: #34e7e4;
    transition: width 0.3 ease;
}

.underline-nav a:hover::after {
    width: 100%;
}

a {
    text-decoration: none;
    color: black;
    font-size: 30px;
    padding: 18px;
    margin-left: 70px;

}

#logo {
    display: flex;
    margin-top: 20px;
    margin-left: 20px;
}

.logo {
    text-shadow: 10px 10px 10px;
    font-size: 30px;
    font-weight: 100px;
    margin-top: 20px;
    margin-left: 10px;

}

.sekil {
    width: 80px;
    height: 80px;
    background: url(sekil/icon.png)center/cover;
    border-radius: 50%;
}

div {
    display: inline-block;
}

.container {
    height: 40px;
    width: 20%;
    border: 1px solid skyblue;
    margin-left: 999px;
    border-radius: 39px;

}

input {
    font-size: 15px;
    padding-top: 20px;
    padding-left: 30px;
    border: none;
    cursor: pointer;
}
.giris{
    border: 1px solid white;
    width: 500px;
    height: 500px;
    border-radius: 15px;
    margin-left: 40px;
    margin-top: 20px;
    backdrop-filter: blur(20px);

}
.login-container {
    background: rgba(255, 255, 255, 0.05);
    box-shadow: inset 0 0 20px rgb(0, 21, 255);
    width: 300px;
    text-align: center;
   
}

.login-box h2 {
    color: rgb(255, 255, 255);
    margin-bottom: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    text-align: center;
}

.input-group {
    position: relative;
    margin-bottom: 20px;
}

.input-group input {
    width: 140%;
    padding: 10px 40px 10px 15px;
    border: none;
    border-radius: 25px;
    background: rgba(71, 45, 45, 0.1);
    box-shadow: inset 0 0 10px rgba(202, 205, 207, 0.5);
    color: white;
    margin-left: 30px;
}
.input-group .icon {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: white;
}

.options {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    color: white;
    margin-bottom: 20px;
     margin-left: 40px;
     margin-top: 10px;
}

.options a {
    color: #ddd;
    text-decoration: none;
    
}

button {
    width: 100%;
    padding: 10px;
    background: rgb(255, 249, 249);
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-weight: bold;
    margin-left: 20px;
}
.register-link {
    color: white;
    font-size: 13px;
    margin-top: 20px;
    margin-left: 130px;
}

.register-link a {
    color: #fff;
    font-weight: bold;
    text-decoration: underline;
}
a{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;

}
