 body{
            margin: 0;
    background-color: rgb(0,0,0,0.6);
    background-image: url(sekil1.png);
    background-repeat: no-repeat;
    background-size: 100%;
    color: #fff;
    background-blend-mode: darken;
        }
        a {
            text-decoration: none;
            color: black;
            font-size: 30px;
            padding: 18px;
            margin-left: 30px;

        }
        #logo{
            display: flex;
            margin-top: 20px;
            margin-left: 20px;
        }
        .logo {
            text-shadow: 10px 10px 10px;
            font-size: 30px;
            font-weight: 100px;
            margin-top: 20px;
            margin-left: 10px;

        }

        .sekil {
            width: 80px;
            height: 80px;
            background: url(icon.png)center/cover;
            border-radius: 50%;
        }

        div {
            display: inline-block;
        }

        .container {
            height: 40px;
            width: 20%;
            border: 1px solid skyblue;
            margin-left: 999px;
            /* margin-bottom: 0%; */
            border-radius: 39px;

        }

        input {
            font-size: 15px;
            padding-top: 20px;
            padding-left: 30px;
            border: none;
            cursor: pointer;
        }

        .attachment {

            background-size: cover;
            background-attachment: fixed;
            height: 1000px;
            background: url(sekil3.png)center/cover;
        }

